# personal
account        personal
tls_starttls on
auth on
tls on
host           {{ .smtp_host }}
port           {{ .smtp_port }}
from           {{ .email }}
user           {{ .email }}
password       {{ (bitwarden "item" .bitwarden.personal_mail).login.password }}

{{- if .workconf }}
# work
account        work
tls_starttls on
auth on
tls on
host           {{ .work.smtp_host }}
port           {{ .work.smtp_port }}
from           {{ .work.workmail }}
user           {{ .work.workmail }}
password       {{ (bitwarden "item" .bitwarden.work_mail).login.password }}
{{- end }}

account default: personal
