[Unit]
Description=RSS2Email synchronization timer
After=network-online.target
Wants=network-online.target

[Timer]
OnBootSec=2m
OnUnitActiveSec=5m
Unit=r2e.service

[Install]
WantedBy=timers.target
