[Unit]
Description=RSS2Email service

[Service]
Type=oneshot
ExecStart=zsh -c -i "poetry run task r2e"
ExecStartPost=zsh -c -i "notmuch new"

[Install]
WantedBy=default.target
