;; -*- lexical-binding: t -*-

(setq user-full-name "{{ .name }}"
      user-mail-address "{{ .email }}"
      user-encryption-key "{{ .gpg_keyid }}")

{{ if and (not .minimal) (and .secrets) -}}
(use-package wakatime-mode
  :ensure t
  :straight t
  :defer t
  :init
  {{- if eq .chezmoi.os "darwin" -}}
  {{- if eq .chezmoi.arch "arm64" -}}
  (setq wakatime-cli-path "/opt/homebrew/bin/wakatime-cli")
  {{- else -}}
  (setq wakatime-cli-path "/usr/local/bin/wakatime-cli")
  {{- end -}}
  {{- else -}}
  {{- if eq .chezmoi.osRelease.id "nixos" }}
  (setq wakatime-cli-path "~/.nix-profile/bin/wakatime-cli")
  {{- else -}}
  (setq wakatime-cli-path "/usr/bin/wakatime")
  {{- end -}}
  {{- end }}

  :config
  (global-wakatime-mode))

{{- end }}
