# whitelist
!./packages
!./custom.el
!./init.el
!./packages.el


# blacklist
elpa/*
transient/*
bookmarks
eshell/*
recentf
savehist
projectile-bookmarks.eld
.last-package-update-day
projectile.cache
ido.last
smex-items
places
irony/*
