#!/usr/bin/env zsh

alias work="cd $WORKSPACE/{{ onepasswordRead (join "/" (list .onepassword.work_env "work_dir")) }}"

export KUBECONFIG=~/.kube/agbs/dev
export GH_ENTERPRISE_TOKEN="{{ onepasswordRead (join "/" (list .onepassword.work_env "gh_token")) }}"
