#!/usr/bin/env zsh

# Backbase
export ALL_PROXY="{{ onepasswordRead (join "/" (list .onepassword.work_env "all_proxy")) }}"

export HTTP_PROXY=$ALL_PROXY
export HTTPS_PROXY=$ALL_PROXY
export FTP_PROXY=$ALL_PROXY
export RSYNC_PROXY=$ALL_PROXY
export http_proxy=$ALL_PROXY
export https_proxy=$ALL_PROXY
export ftp_proxy=$ALL_PROXY
export rsync_proxy=$ALL_PROXY

export KUBECONFIG=~/.kube/agbs/dev
export GH_ENTERPRISE_TOKEN="{{ onepasswordRead (join "/" (list .onepassword.work_env "gh_token")) }}"
