#!/usr/bin/env zsh

alias work="cd $WORKSPACE/{{ onepasswordRead (join "/" (list .onepassword.work_env "work_dir")) }}"

export KUBECONFIG=~/.kube/ah/config
export GH_ENTERPRISE_TOKEN="{{ onepasswordRead (join "/" (list .onepassword.work_env "gh_token")) }}"

# Artifactory
export UV_INDEX_TECH_NL_SHARED_PYPI_USERNAME="{{ onepasswordRead (join "/" (list .onepassword.work_env "artifactory_username")) }}"
export UV_INDEX_TECH_NL_SHARED_PYPI_PASSWORD="{{ onepasswordRead (join "/" (list .onepassword.work_env "artifactory_password")) }}"

export POETRY_HTTP_BASIC_TECH_NL_SHARED_PYPI_USERNAME="{{ onepasswordRead (join "/" (list .onepassword.work_env "artifactory_username")) }}"
export POETRY_HTTP_BASIC_TECH_NL_SHARED_PYPI_PASSWORD="{{ onepasswordRead (join "/" (list .onepassword.work_env "artifactory_password")) }}"
