#
# weechat -- check_mail.conf
#
# WARNING: It is NOT recommended to edit this file by hand,
# especially if WeeChat is running.
#
# Use /set or similar command to change settings in WeeChat.
#
# For more info, see: https://weechat.org/doc/quickstart
#

[conf]
bar_text = "mail:"
interval = 1
log_to_weechat_buffer = on
maildir_path = "{{ .maildir }}/personal/inbox/"
