#
# weechat -- sec.conf
#
# WARNING: It is NOT recommended to edit this file by hand,
# especially if WeeChat is running.
#
# Use /set or similar command to change settings in WeeChat.
#
# For more info, see: https://weechat.org/doc/quickstart
#

[crypt]
cipher = aes256
hash_algo = sha256
passphrase_file = ""
salt = on

[data]
__passphrase__ = on
freenode_pass = {{ (onepassword "hunw2yivc5gbxmsvszxaqc6ztq").details.password }}
ircseds_pass = {{ (onepassword "uthrl7ixvrbx3np34hkxe5ecry").details.password }}
bnc_server = {{ (onepassword "hwu47pzx6baf5nizeaedu6ui3u").details.password }}
