#
# weechat -- sec.conf
#
# WARNING: It is NOT recommended to edit this file by hand,
# especially if WeeChat is running.
#
# Use /set or similar command to change settings in WeeChat.
#
# For more info, see: https://weechat.org/doc/quickstart
#

[crypt]
cipher = aes256
hash_algo = sha256
salt = on

[data]
__passphrase__ = on
freenode_pass = {{ (bitwarden "item" .bitwarden.freenode).login.password }}
slack_work_api_token = {{ (bitwarden "item" .bitwarden.slack_work_api_token).login.password }}
bnc_server = {{ (bitwarden "item" .bitwarden.bnc).login.password }}
bnc_liberachat_pass = {{ (bitwarden "item" .bitwarden.bnc_liberachat_pass).login.password }}
bnc_2600_pass = {{ (bitwarden "item" .bitwarden.bnc_2600_pass).login.password }}
bnc_freenode_pass = {{ (bitwarden "item" .bitwarden.bnc_freenode_pass).login.password }}
bnc_oftc_pass = {{ (bitwarden "item" .bitwarden.bnc_oftc_pass).login.password }}
bnc_darkscience_pass = {{ (bitwarden "item" .bitwarden.bnc_darkscience_pass).login.password }}
