#
# weechat -- sec.conf
#
# WARNING: It is NOT recommended to edit this file by hand,
# especially if WeeChat is running.
#
# Use /set or similar command to change settings in WeeChat.
#
# For more info, see: https://weechat.org/doc/quickstart
#

[crypt]
cipher = aes256
hash_algo = sha256
passphrase_file = ""
salt = on

[data]
__passphrase__ = on
freenode_pass = {{ (bitwarden "item" "da4d9bba-62ee-47d4-8e9c-acb500c08fff").login.password }}
ircseds_pass = {{ (bitwarden "item" "f07a3e72-6d5a-43de-9314-acb500c08fff").login.password }}
bnc_server = {{ (bitwarden "item" "66879550-7ff9-4e50-9a2d-acb500c08fff").login.password }}
