configuration {
  terminal: "alacritty";
  font: "Hack 15";
  show-icons: true;
  dpi: 177;

  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "gruvbox-dark-hard"
element-icon { size: 1.75ch ; }
