sourceDir: "dotfiles"

data:
  secrets: false
  email: me@benmezger.nl
  smtp_host: smtp.gmail.com
  smtp_port: 587
  imap_host: imap.gmail.com
  work:
    workmail: ben@ckl.io
    imap_host: imap.gmail.com
    smtp_host: smtp.gmail.com
    smtp_port: 587
