{{- $headless := false -}}
{{- $secrets := true -}}

{{- $name := "Ben Mezger" -}}
{{- $email := "me@benmezger.nl" -}}
{{- $hostname := "seds" -}}
{{- $gpg_keyid := "0x7357E344D6C3C795" -}}
{{- $github_user := "benmezger" -}}

{{- $personal_smtp_host := "smtp.gmail.com" -}}
{{- $personal_smtp_port := 587 -}}
{{- $personal_imap_host := "imap.gmail.com" -}}
{{- $personal_imap_port := 443 -}}

{{- $work_email := "ben@ckl.io" -}}
{{- $work_smtp_host := "smtp.gmail.com" -}}
{{- $work_smtp_port := 587 -}}
{{- $work_imap_host := "imap.gmail.com" -}}
{{- $work_imap_port := 443 -}}

{{- $podcast_opml := "https://www.listennotes.com/listen/podcast-list-McKCI8sZ0v2/opml/" -}}

{{- if (env "CI") -}}
{{- $headless = true -}}
{{- $secrets = false -}}
{{- end -}}

{{- if (env "ASK") }}
{{- $secrets := promptBool "secrets" -}}

{{- $name := promptString "full name" -}}
{{- $email := promptString "personal email" -}}
{{- $hostname := promptString "computer hostname" -}}
{{- $gpg_keyid := promptString "PGP key id" -}}
{{- $github_user := promptString "github username" -}}

{{- $personal_smtp_host := promptString "personal email's smtp host" -}}
{{- $personal_smtp_port := promptInt "personal email's smtp port" -}}
{{- $personal_imap_host := promptString "personal email's imap host" -}}
{{- $personal_imap_port := promptInt "personal email's imap port" -}}

{{- $work_email := promptString "work email" -}}
{{- $work_smtp_host := promptString "work email's smtp host" -}}
{{- $work_smtp_port := promptString "work email's smtp port" -}}
{{- $work_imap_host := promptString "work email's imap host" -}}
{{- $work_imap_port := promptString "work email's imap port" -}}

{{- $podcast_opml := promptString "podcast opml url" -}}
{{- end -}}

sourceDir: {{ .chezmoi.sourceDir }}

data:
  secrets: {{ $secrets }}
  headless: {{ $headless }}
  email: {{ $email }}
  name: {{ $name }}
  smtp_host: {{ $personal_smtp_host }}
  smtp_port: {{ $personal_smtp_port }}
  imap_host: {{ $personal_imap_host }}
  imap_port: {{ $personal_imap_port }}
  hostname: {{ $hostname }}
  gpg_keyid: {{ $gpg_keyid }}
  github_user: {{ $github_user }}
  podcast_opml: {{ $podcast_opml }}
  work:
    workmail: {{ $work_email }}
    imap_host: {{ $work_imap_host }}
    imap_port: {{ $work_imap_port }}
    smtp_host: {{ $work_smtp_host }}
    smtp_port: {{ $work_smtp_port }}
{{- if $secrets }}
  bitwarden:
    jira: 8c7e36c5-a859-4fe6-a0c2-acb500c08fff
    i3rs: 1f13be62-1f5e-40fb-9b60-acb500c08fff
    freenode: da4d9bba-62ee-47d4-8e9c-acb500c08fff
    ircseds: f07a3e72-6d5a-43de-9314-acb500c08fff
    bnc: 66879550-7ff9-4e50-9a2d-acb500c08fff
    spotify: d8ebcdfe-0ecc-40ec-a464-acb500c08fff
    spotify_api: 64c5ef38-cb4b-4ae7-961d-acba0047e94b
    wakatime_api: 806af555-54de-44cc-a857-acb500c08fff
    personal_mail: c553f8b1-f4a3-4220-8b0b-acb500c08fff
    work_mail: aeff6fce-4245-4fea-80a6-acb500c08fff
    rclone_gdrive: 34d2c72b-c33d-44ad-883e-acbe01020aef
    ssh_pub: 98ebec3b-3a9f-4220-9ae2-acc300fee77f
    ssh_priv: 0572f760-a184-40f9-bfa2-acc300d9ec5c
    ssh: eb36407d-787d-4266-9b97-acc3014f98a3
    pgp_priv: 5bc1d3cd-3332-4c83-ad4a-accc00f68aad
    lastfm: c9a4cb98-f7b5-46ea-bef9-acb500c08fff
{{- end -}}
