sourceDir: {{ .chezmoi.sourceDir }}

data:
  secrets: false
  email: me@benmezger.nl
  smtp_host: smtp.gmail.com
  smtp_port: 587
  imap_host: imap.gmail.com
  hostname: seds
  work:
    workmail: ben@ckl.io
    imap_host: imap.gmail.com
    smtp_host: smtp.gmail.com
    smtp_port: 587
