# blacklist
vim/.vim/plugged
vim/.vim/autoload
gnupg/.gnupg
config/.config
weechat/.weechat/sec.conf
ipython/.ipython
fish/.config/fish/functions

# whitelist
!gnupg/.gnupg/gpg-agent.conf
!gnupg/.gnupg/gpg.conf

!ipython/.ipython/extensions/*
!ipython/.ipython/nbextensions
