# blacklist
vim/.vim/plugged
vim/.vim/autoload
gnupg/.gnupg
config/.config
weechat/.weechat/sec.conf

# whitelist
!config/.config/dunst
!config/.config/i3
!config/.config/user-dirs.dirs
!gnupg/.gnupg/gpg-agent.conf
!gnupg/.gnupg/gpg.conf
