rofi.opacity: 85
rofi.background: #272822
rofi.foreground: #f8f8f2
rofi.highlightbg: #49483E
rofi.highlightfg: #ffffff
rofi.bordercolor: #678698
rofi.padding: 1
rofi.lines: 10
rofi.borderwidth: 1
rofi.location: 7
rofi.yoffset: 0
rofi.xoffset: 0
rofi.width: 100
rofi.fixed_num_lines: 1
rofi.hmode: false
rofi.terminal: st
rofi.ssh-set-title: false
rofi.font: Inconsolata 9
