Create Both
Expunge Both
SyncState *

IMAPAccount personal
Host {{ .imap_host }}
User {{ .email }}
# To store the password in an encrypted file use PassCmd instead of Pass
# PassCmd "gpg2 -q --for-your-eyes-only --no-tty -d ~/.mailpass.gpg"
Pass {{ (bitwarden "item" .bitwarden.personal_mail).login.password }}
SSLType IMAPS
AuthMechs PLAIN

IMAPStore personal-remote
Account personal

MaildirStore personal-local
Subfolders Verbatim
# The trailing "/" is important
Path ~/mail/personal/
Inbox ~/mail/personal/inbox

Channel personal-inbox
Far :personal-remote:
Near :personal-local:
Patterns "INBOX"

Channel personal-sent
Far :personal-remote:"[Gmail]/Sent Mail"
Near :personal-local:sent

Channel personal-archives
Far :personal-remote:"[Gmail]/All mail"
Near :personal-local:archives

Channel personal-trash
Far :personal-remote:"[Gmail]/Bin"
Near :personal-local:trash

Channel personal-drafts
Far :personal-remote:"[Gmail]/Drafts"
Near :personal-local:drafts

Channel personal-notes
Far :personal-remote:"Notes"
Near :personal-local:notes

Channel personal-emacs
Far :personal-remote:"lists/emacs"
Near :personal-local:list/emacs

Channel personal-cypherpunk
Far :personal-remote:"lists/cypherpunk"
Near :personal-local:list/cypherpunk

Channel personal-debconf
Far :personal-remote:"lists/debconf"
Near :personal-local:list/debconf

Channel personal-mu4e
Far :personal-remote:"lists/mu4e"
Near :personal-local:list/mu4e

Group personal
Channel personal-inbox
Channel personal-sent
Channel personal-trash
Channel personal-archives
Channel personal-drafts
Channel personal-notes
Channel personal-emacs
Channel personal-cypherpunk
Channel personal-debconf
Channel personal-mu4e

{{ if .workconf -}}
IMAPAccount work
Host {{ .work.imap_host }}
User {{ .work.workmail }}
Pass {{ (bitwarden "item" .bitwarden.work_mail).login.password }}
SSLType IMAPS
AuthMechs PLAIN

IMAPStore work-remote
Account work

MaildirStore work-local
Subfolders Verbatim
# The trailing "/" is important
Path ~/mail/work/
Inbox ~/mail/work/inbox

Channel work-inbox
Far :work-remote:
Near :work-local:
Patterns "INBOX"

Channel work-archives
Far :work-remote:"[Gmail]/All mail"
Near :work-local:archives

Channel work-sent
Far :work-remote:"[Gmail]/Sent Mail"
Near :work-local:sent

Channel work-trash
Far :work-remote:"[Gmail]/Bin"
Near :work-local:trash

Channel work-drafts
Far :work-remote:"[Gmail]/Drafts"
Near :work-local:drafts

Group work
Channel work-inbox
Channel work-sent
Channel work-trash
Channel work-drafts

{{- end }}
