[settings]
debug = false
hide_file_names = false
exclude =
    ^COMMIT_EDITMSG$
    ^PULLREQ_EDITMSG$
    ^MERGE_MSG$
    ^TAG_EDITMSG$
api_key = {{ onepasswordRead .onepassword.wakatime_api }}
hostname = {{ .hostname }}
