#!/bin/bash
#
export jiraserver={{ (index (bitwarden "item" .bitwarden.jira).login.uris 0).uri }}
export jirauser={{ .work.workmail }}
export jiratoken={{ (bitwarden "item" .bitwarden.jira).login.password}}
export I3RS_GITHUB_TOKEN={{ (bitwarden "item" .bitwarden.i3rs).login.password }}

# A little hack as 'BW_SESSION' must be set before running
# chezmoi, so we write the new BW_SESSION back to this file
export BW_SESSION={{ env "BW_SESSION" }}

# Weechat will prompt for a passphrase on open.
# This will allow weechat to use the following
# passphrase to decrypt secure data.
export WEECHAT_PASSPHRASE={{ (bitwarden "item" .bitwarden.weechat_passphrase).login.password }}

export GITHUB_TOKEN={{ (bitwarden "item" .bitwarden.github_repo_token).login.password }}
