#!/bin/bash
#
export I3RS_GITHUB_TOKEN={{ onepasswordRead .onepassword.i3rs }}

# Weechat will prompt for a passphrase on open.
# This will allow weechat to use the following
# passphrase to decrypt secure data.
export WEECHAT_PASSPHRASE={{ onepasswordRead (join "/" (list .onepassword.bnc "password")) }}

export GITHUB_TOKEN={{ onepasswordRead .onepassword.github_repo_token }}
{{ if eq .chezmoi.os "darwin" -}}
export CODESTATS_API_KEY={{ onepasswordRead .onepassword.codestats_api_key_osx }}
{{ else -}}
export CODESTATS_API_KEY={{ onepasswordRead .onepassword.codestats_api_key_linux }}
{{ end -}}
