Create Both
Expunge Both
SyncState *

IMAPAccount personal
Host {{ .imap_host }}
User {{ .email }}
# To store the password in an encrypted file use PassCmd instead of Pass
# PassCmd "gpg2 -q --for-your-eyes-only --no-tty -d ~/.mailpass.gpg"
Pass {{ (bitwarden "item" .bitwarden.personal_mail).login.password }}
SSLType IMAPS
AuthMechs PLAIN

IMAPStore personal-remote
Account personal

MaildirStore personal-local
Subfolders Verbatim
# The trailing "/" is important
Path {{ .maildir }}/personal/
Inbox {{ .maildir }}/personal/inbox

Channel personal-inbox
Far :personal-remote:
Near :personal-local:
Patterns "INBOX"

Channel personal-sent
Far :personal-remote:"[Gmail]/Sent Mail"
Near :personal-local:sent

Channel personal-archives
Far :personal-remote:"[Gmail]/All Mail"
Near :personal-local:archives

Channel personal-trash
Far :personal-remote:"[Gmail]/Trash"
Near :personal-local:trash

Channel personal-drafts
Far :personal-remote:"[Gmail]/Drafts"
Near :personal-local:drafts

Channel personal-spam
Far :personal-remote:"[Gmail]/Spam"
Near :personal-local:spam

Channel personal-notes
Far :personal-remote:"Notes"
Near :personal-local:notes

Channel personal-emacs
Far :personal-remote:"lists/emacs"
Near :personal-local:list/emacs

Channel personal-cypherpunk
Far :personal-remote:"lists/cypherpunk"
Near :personal-local:list/cypherpunk

Channel personal-debconf
Far :personal-remote:"lists/debconf"
Near :personal-local:list/debconf

Channel personal-mu4e
Far :personal-remote:"lists/mu4e"
Near :personal-local:list/mu4e

Channel personal-riscv
Far :personal-remote:"lists/RISC-V"
Near :personal-local:list/riscv

Channel personal-ieee-cass
Far :personal-remote:"lists/ieee-cass"
Near :personal-local:list/ieee-cass

Channel personal-archlinux
Far :personal-remote:"lists/archlinux"
Near :personal-local:list/archlinux

Channel personal-notmuch
Far :personal-remote:"lists/notmuch"
Near :personal-local:list/notmuch

Channel personal-linux-riscv
Far :personal-remote:"lists/linux-riscv"
Near :personal-local:list/linux-riscv

Channel personal-misc
Far :personal-remote:"lists/misc"
Near :personal-local:list/misc

Channel personal-work
Far :personal-remote:"work"
Near :personal-local:work

Channel personal-university
Far :personal-remote:"university"
Near :personal-local:university

Channel personal-newsfeed
Far :personal-remote:"newsfeed"
Near :personal-local:newsfeed

Channel personal-seds
Far :personal-remote:"@seds.nl"
Near :personal-local:seds

Channel personal-jobs
Far :personal-remote:"jobs"
Near :personal-local:jobs

Channel personal-social-media
Far :personal-remote:"social-media"
Near :personal-local:social-media

Channel personal-linux-kernel
Far :personal-remote:"lists/linux-kernel"
Near :personal-local:list/linux-kernel

Group personal
Channel personal-inbox
Channel personal-sent
Channel personal-trash
Channel personal-archives
Channel personal-drafts
Channel personal-notes
Channel personal-spam
Channel personal-seds
Channel personal-emacs
Channel personal-cypherpunk
Channel personal-debconf
Channel personal-mu4e
Channel personal-riscv
Channel personal-ieee-cass
Channel personal-archlinux
Channel personal-notmuch
Channel personal-linux-riscv
Channel personal-misc
Channel personal-work
Channel personal-university
Channel personal-newsfeed
Channel personal-jobs
Channel personal-social-media
Channel personal-linux-kernel

{{ if .workconf -}}
IMAPAccount work
Host {{ .work.imap_host }}
User {{ .work.workmail }}
Pass {{ (bitwarden "item" .bitwarden.work_mail).login.password }}
SSLType IMAPS
AuthMechs PLAIN

IMAPStore work-remote
Account work

MaildirStore work-local
Subfolders Verbatim
# The trailing "/" is important
Path {{ .maildir }}/work/
Inbox {{ .maildir }}/work/inbox

Channel work-inbox
Far :work-remote:
Near :work-local:
Patterns "INBOX"

Channel work-archives
Far :work-remote:"[Gmail]/All Mail"
Near :work-local:archives

Channel work-sent
Far :work-remote:"[Gmail]/Sent Mail"
Near :work-local:sent

Channel work-trash
Far :work-remote:"[Gmail]/Bin"
Near :work-local:trash

Channel work-drafts
Far :work-remote:"[Gmail]/Drafts"
Near :work-local:drafts

Group work
Channel work-inbox
Channel work-sent
Channel work-trash
Channel work-drafts

{{- end }}
