Create Both
Expunge Both
SyncState *

IMAPAccount personal
Host imap.gmail.com
User {{ .email }}
# To store the password in an encrypted file use PassCmd instead of Pass
# PassCmd "gpg2 -q --for-your-eyes-only --no-tty -d ~/.mailpass.gpg"
Pass {{ (onepassword "wm5uwogy2dblv4fci4w23steci").details.password }}
SSLType IMAPS

IMAPStore personal-remote
Account personal

MaildirStore personal-local
Subfolders Verbatim
# The trailing "/" is important
Path ~/mail/personal/
Inbox ~/mail/personal/inbox

Channel personal-inbox
Master :personal-remote:
Slave :personal-local:
Patterns "INBOX"

Channel personal-sent
Master :personal-remote:"[Gmail]/Sent Mail"
Slave :personal-local:sent

Channel personal-trash
Master :personal-remote:"[Gmail]/Trash"
Slave :personal-local:trash

Group personal
Channel personal-inbox
Channel personal-sent
Channel personal-trash
