#!/bin/bash
#
export jiraserver={{ (index (bitwarden "item" "8c7e36c5-a859-4fe6-a0c2-acb500c08fff").login.uris 0).uri }}
export jirauser={{ .work.workmail }}
export jiratoken={{ (bitwarden "item" "8c7e36c5-a859-4fe6-a0c2-acb500c08fff").login.password}}
export I3RS_GITHUB_TOKEN={{ (bitwarden "item" "1f13be62-1f5e-40fb-9b60-acb500c08fff").login.password }}

# A little hack as 'OP_SESSION_my/BW_SESSION' must be set before running
# chezmoi, so we write the new OP_SESSION_my/BW_SESSION back to this file 
export OP_SESSION_my={{ env "OP_SESSION_my" }}
export BW_SESSION={{ env "BW_SESSION" }}
