[settings]
debug = false
hidefilenames = false
ignore =
    COMMIT_EDITMSG$
    PULLREQ_EDITMSG$
    MERGE_MSG$
    TAG_EDITMSG$
api_key={{ (bitwarden "item" "806af555-54de-44cc-a857-acb500c08fff").login.password }}
hostname={{ .hostname }}
