[settings]
debug = false
hidefilenames = false
ignore =
    COMMIT_EDITMSG$
    PULLREQ_EDITMSG$
    MERGE_MSG$
    TAG_EDITMSG$
api_key={{ (onepassword "r2qzerjlcfhyzgn5nvwqney5sm").details.password }}
hostname={{ .hostname }}
