#!/usr/bin/env bash

DIR="$(cd "$(dirname "${BASH_SOURCE[0]}")" >/dev/null 2>&1 && pwd)"
. "$DIR/helpers/flock.sh"

exlock_now || exit 0

mkdir -p $HOME/mail/{work,personal}

MAILDIR=$HOME/mail

if [[ "$OSTYPE" == "linux-gnu"* ]]; then
        mbsync=/usr/bin/mbsync
        mu=/usr/bin/mu
elif [[ "$OSTYPE" == "darwin"* ]]; then
        mbsync=/usr/local/bin/mbsync
        mu=/usr/local/bin/mu
fi

echo "Syncing mailboxes with '$mbsync'"
$mbsync -Va

echo "Ensuring 'mu' is initialized.."
$mu init --my-address={{ .email }} {{ if .workconf }}--my-address={{ .work.workmail }}{{ end }} --maildir=$MAILDIR

echo "Indexing emails with '$mu'"
$mu index
