# Set default values for all following accounts.
defaults
logfile        ~/.msmtp.log
auth           on
tls            on
tls_starttls   on

# personal
account        personal
host           {{ .smtp_host }}
port           {{ .smtp_port }}
from           {{ .email }}
user           {{ .email }}
password       {{ onepasswordRead (join "/" (list .onepassword.fastmail "mbsync")) }}

account default: personal
