[core]
restore_state = true

[mpd]
enabled = true
hostname = ::

[spotify]
enabled = true
username = {{ (bitwarden "item" .bitwarden.spotify).login.username }}
password = {{ (bitwarden "item" .bitwarden.spotify).login.password }}
client_id = {{ (index (bitwarden "item" .bitwarden.spotify_api).fields 0).value }} 
client_secret = {{ (bitwarden "item" .bitwarden.spotify_api).login.password}}
bitrate = 320
allow_cache = true

[audio]
output = autoaudiosink

[podcast]
enabled = true
browse_root = {{ .podcast_opml }}
browse_order = desc
lookup_order = asc
cache_size = 64
cache_ttl = 86400
timeout = 10

[scrobbler]
username = {{ (bitwarden "item" .bitwarden.lastfm).login.username }}
password = {{ (bitwarden "item" .bitwarden.lastfm).login.password }}
