[google-drive]
type = drive
scope = drive
client_id = {{ onepasswordRead (join "/" (list .onepassword.googleapi "client_id")) }}
client_secret = {{ onepasswordRead (join "/" (list .onepassword.googleapi "credential")) }}
token = {{ onepasswordRead (join "/" (list .onepassword.googleapi "token")) }}
