<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
   "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>
      /usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:</string>
    </dict>
    <key>Label</key>
    <string>com.tmux</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/zsh</string>
      <string>-c</string>
      <string>$HOME/.bin/start_tmux</string>
    </array>
    <key>RunAtLoad</key>
    <true />
    <key>KeepAlive</key>
    <true />
    <key>LaunchOnlyOnce</key>
    <false />
    <key>StandardOutPath</key>
    <string>/tmp/tmux_startup.stdout</string>
    <key>StandardErrorPath</key>
    <string>/tmp/tmux_startup.stderr</string>
    <key>InitGroups</key>
    <true />
  </dict>
</plist>
