set my_user={{ .email }}

{{- if .secrets }}
set my_pass={{ (bitwarden "item" .bitwarden.personal_mail).login.password }}
{{- end }}

set realname = {{ .name | quote }}
set from = {{ .email }}
set use_from = yes

{{- if .secrets }}
set smtp_pass = $my_pass
set smtp_url=smtps://$my_user@{{ .smtp_host }}
set ssl_force_tls = yes
{{- end }}

set folder = "{{ .maildir }}/personal"
set mbox_type = "Maildir"
set spoolfile = +inbox
set postponed = "+drafts"
set header_cache = ~/.cache/mutt/personal/headers
set message_cachedir= ~/.cache/mutt/personal/bodies
set smtp_authenticators = 'gssapi:login'
set signature = "~/.config/neomutt/signature-short.personal"
set trash='trash'

unset record

unset move # gmail handles that

unvirtual-mailboxes *
set virtual_spoolfile = yes
set nm_default_url = "notmuch:///Users/seds/mail/personal"
virtual-mailboxes "unread" "notmuch://?query=tag:unread and tag:me"
virtual-mailboxes "inbox" "notmuch://?query=tag:inbox"
virtual-mailboxes "archives" "notmuch://?query=tag:archived"
virtual-mailboxes "sent" "notmuch://?query=tag:sent"
virtual-mailboxes "me" "notmuch://?query=tag:me"
virtual-mailboxes "trash" "notmuch://?query=tag:deleted"
virtual-mailboxes "linux" "notmuch://?query=tag:linux-kernel"
virtual-mailboxes "linux-rv" "notmuch://?query=tag:linux-rv"
virtual-mailboxes "university" "notmuch://?query=tag:university"
virtual-mailboxes "emacs" "notmuch://?query=tag:emacs"
virtual-mailboxes "lwn" "notmuch://?query=tag:lwn"
virtual-mailboxes "drafts" "notmuch://?query=tag:draft"
virtual-mailboxes "flagged" "notmuch://?query=tag:flagged"
virtual-mailboxes "lists" "notmuch://?query=tag:list"
virtual-mailboxes "newsfeed" "notmuch://?query=tag:newsfeed"
