set my_user={{ .email }}

{{- if .secrets }}
set my_pass={{ (bitwarden "item" .bitwarden.personal_mail).login.password }}
{{- end }}

set realname = 'Ben Mezger'
set from = {{ .email }}
set use_from = yes

{{- if .secrets }}
set smtp_pass = $my_pass
set smtp_url=smtps://$my_user@{{ .smtp_host }}
set ssl_force_tls = yes
{{- end }}

set folder = "~/mail/personal"
set mbox_type = "Maildir"
set spoolfile = +inbox
set postponed = "+drafts"
set header_cache = ~/.cache/mutt/personal/headers
set message_cachedir= ~/.cache/mutt/personal/bodies
unset record

unset move # gmail handles that
