set my_user={{ .work.workmail }}

{{- if .secrets }}
set my_pass={{ (bitwarden "item" .bitwarden.work_mail).login.password }}
{{- end }}

set realname = {{ .name | quote }}
set from = {{ .work.workmail }}
set use_from = yes

{{- if .secrets }}
set smtp_pass = $my_pass
set smtp_url=smtps://$my_user@{{ .work.smtp_host }}
set ssl_force_tls = yes
{{- end }}

set folder = "~/mail/work"
set mbox_type = "Maildir"
set spoolfile = +inbox
set postponed = "+drafts"
set header_cache = ~/.cache/mutt/work/headers
set message_cachedir= ~/.cache/mutt/work/bodies
unset record

unset move # gmail handles that
