Create Both
Expunge Both
SyncState *

IMAPAccount personal
Host {{ .imap_host }}
User {{ .email }}
# To store the password in an encrypted file use PassCmd instead of Pass
# PassCmd "gpg2 -q --for-your-eyes-only --no-tty -d ~/.mailpass.gpg"
Pass {{ onepasswordRead (join "/" (list .onepassword.fastmail "mbsync")) }}
SSLType IMAPS
AuthMechs PLAIN

IMAPStore personal-remote
Account personal

MaildirStore personal-local
Subfolders Verbatim
# The trailing "/" is important
Path {{ .maildir }}/personal/
Inbox {{ .maildir }}/personal/inbox

Channel personal
Far :personal-remote:
Near :personal-local:
Patterns *
