#!/bin/bash

export GITHUB_TOKEN={{ onepasswordRead .onepassword.github_i3_repo_token }}
export I3RS_GITHUB_TOKEN=$GITHUB_TOKEN

# Weechat will prompt for a passphrase on open.
# This will allow weechat to use the following
# passphrase to decrypt secure data.
export WEECHAT_PASSPHRASE={{ onepasswordRead (join "/" (list .onepassword.bnc "password")) }}

{{ if eq .chezmoi.os "darwin" -}}
export CODESTATS_API_KEY={{ onepasswordRead (join "/" (list .onepassword.codestats_api "credential_osx")) }}
{{ else -}}
export CODESTATS_API_KEY={{ onepasswordRead (join "/" (list .onepassword.codestats_api "credential_linux")) }}
{{ end -}}
