#
# weechat -- sec.conf
#
# WARNING: It is NOT recommended to edit this file by hand,
# especially if WeeChat is running.
#
# Use /set or similar command to change settings in WeeChat.
#
# For more info, see: https://weechat.org/doc/quickstart
#

[crypt]
cipher = aes256
hash_algo = sha256
salt = on

[data]
__passphrase__ = on
bcn_libera = "{{ onepasswordRead (join "/" (list .onepassword.bnc "libera_hash")) -}}"
bnc_darkscience = "{{ onepasswordRead (join "/" (list .onepassword.bnc "darkscience_hash")) -}}"
bnc_oftc = "{{ onepasswordRead (join "/" (list .onepassword.bnc "oftc_hash")) -}}"
freenode_passwd = "{{ onepasswordRead (join "/" (list .onepassword.bnc "freenode_passwd_hash")) -}}"
bnc_server = "{{ onepasswordRead (join "/" (list .onepassword.bnc "bnc_server_hash")) -}}"
