.config/dunst
.config/rofi
.config/i3
.config/polybar
.config/i3-autodisplay
.config/greenclip.toml
.config/systemd
.config/autorandr
.config/conky
.config/gtk-3.0
.config/chrome-flags.conf
.config/libinput-gestures.conf
.config/mimeapps.list
.config/picom.conf
.config/qtile

.gtkrc-2.0
.inputrc
.xbindkeysrc
.xinitrc
.xsession
.Xmodmap
.Xresources

.zsh/linux.zsh

.bin/executable_battery_notifier.sh
.bin/executable_battery-stats
.bin/executable_btrfs-snapshot
.bin/executable_clean-cache
.bin/executable_copy-local-pkgs
.bin/executable_detect-screen
.bin/executable_dwmbar
.bin/executable_launch_polybar.sh
.bin/executable_lightsOn.sh
.bin/executable_lock
.bin/executable_rofi-notmuch
.bin/executable_run-dmenu
.bin/executable_spotfy.sh
.bin/executable_startdwm
.bin/executable_volume-stats
