rules/
.github/
Dockerfile
LICENSE.md
README.md
TODO.org
archlinux.yml
docker-compose.yml
docker-entrypoint.sh
inventory
osx.yml
requirements.yml
COMMANDS.org
ansible.cfg
CHANGELOG.md
install.sh
.weechat/logs
.weechat/weechat.log
.weechat/python/__pycache__/
config/pgcli/history
scripts/
Brewfile
Pacfile
Aurfile
Brewfile.lock.json
Makefile
projectile
resources
notes.org

# hugo
docs/
.content/
static
config.toml
themes

# Let nix handle systemd
.config/systemd/
