.config/dunst
.config/rofi
.config/i3
.config/polybar
.config/i3-autodisplay
.config/greenclip.cfg
.config/systemd
.config/autorandr
.config/conky
.config/dunst
.config/gtk-3.0
.config/i3
.config/i3-autodisplay
.config/polybar
.config/qtile
.config/rofi
.config/chrome-flags.conf
.config/libinput-gestures.conf
.config/mimeapps.list
.config/picom.conf

.gtkrc-2.0
.inputrc
.xbindkeysrc
.xinitrc
.xsession
.Xmodmap
.Xresources
.xinitrc
.xsession
.config/picom.conf
.config/systemd/user/mbsync.service
.config/systemd/user/mbsync.timer
.config/systemd/user/r2e.service
.config/systemd/user/r2e.timer
.config/systemd/user/syncmail.service
.config/systemd/user/syncmail.timer
.config/autorandr
.config/conky

.bin/executable_battery_notifier.sh
.bin/executable_copy-local-pkgs.sh
.bin/executable_copy-detect-screen
.bin/executable_dwmbar
.bin/executable_launch_polybar.sh
.bin/executable_lightsOn.sh
.bin/executable_lock.sh
.bin/executable_open-terminal.sh
.bin/executable_rofi-notmuch.sh
.bin/executable_run-dmenu.sh
.bin/executable_spotfy.sh
.bin/executable_startdwm.sh
.bin/executable_volume-stats.sh
