theme = "semi-native"
icons = "awesome"

[[block]]
block = "disk_space"
path = "/"
alias = "/"
info_type = "available"
unit = "GB"
interval = 20
warning = 20.0
alert = 10.0

[[block]]
block = "memory"
display_type = "memory"
format_mem = "{mem_used}/{mem_total}({mem_used_percents})"
format_swap = "{swap_used}/{swap_total}({swap_used_percents})"

[[block]]
block = "cpu"
interval = 1

[[block]]
block = "load"
interval = 1
format = "{1m}"

[[block]]
block = "temperature"
collapsed = false
interval = 10
format = "{min} min, {max} max, {average} avg"
chip = "*-isa-*"
driver = "sensors"

[[block]]
block = "docker"
interval = 2
format = "{running}/{total}"

[[block]]
block = "sound"

[[block]]
block = "backlight"

[[block]]
block = "github"

[[block]]
block = "maildir"
interval = 60
inboxes = ["/home/{{ .maildir }}/personal", "{{ .maildir}}/personal/inbox"]
threshold_warning = 1
threshold_critical = 10
display_type = "new"

[[block]]
block = "battery"
format = "{percentage} {time}"

[[block]]
block = "time"
interval = 60
format = "%a %d/%m %R"
