snippet debug
try:
    import ipdb; ipdb.set_trace()
except ImportError:
    import pdb; ipdb.set_trace()
endsnippet

snippet cls
class $1:
    def __init__(self, $2):
        self.$2 = $2
endsnippet

snippet func
def $1($2):
    pass
endsnippet
