{{- if eq .chezmoi.os "darwin" }}
{{ if eq .chezmoi.arch "arm64" -}}
pinentry-program /opt/homebrew/bin/pinentry-mac
{{ else -}}
pinentry-program /usr/local/bin/pinentry-mac
{{ end -}}
{{ else -}}
pinentry-program /usr/bin/pinentry-qt
{{ end -}}
default-cache-ttl 18000
enable-ssh-support
