#!/bin/zsh

API_KEY={{ (bitwarden "item" "0a211e43-0f78-4a97-a684-acb500c08fff").login.password }}
DIR=`git rev-parse --show-toplevel`
PROJECT=`echo $DIR | rev | cut -d'/' -f 1 | rev`

# REQUIRED FIELDS - Today's date and commit message
MESSAGE=$(git log -1 HEAD --pretty=format:%s)
DATE_TODAY=$(date +"%Y-%m-%d %H:%M:%S")

echo "Publishing commit to RescueTime..."
curl --data \
    "key=$API_KEY&highlight_date=$DATE_TODAY&description=$MESSAGE&source=$PROJECT" \
    https://www.rescuetime.com/anapi/highlights_post
echo "\n"
