;; -*- mode: emacs-lisp;-*-
;;; $DOOMDIR/chezmoi.el -*- lexical-binding: t; -*-

(setq user-full-name "{{ .name }}"
      user-mail-address "{{ .email }}")

{{ if and (not .minimal) (and .secrets) -}}
(use-package! wakatime-mode
  :init
  {{ if eq .chezmoi.os "darwin" -}}
  (setq wakatime-cli-path "/usr/local/bin/wakatime")
  {{ else -}}
  (setq wakatime-cli-path "/usr/bin/wakatime")
  {{ end -}}

  :config
  (global-wakatime-mode))

(use-package! code-stats
  :defer t
  :config
  (setq code-stats-token (auth-source-pick-first-password :host "codestats.net"))
  (add-hook 'prog-mode-hook #'code-stats-mode)
  (run-with-idle-timer 30 t #'code-stats-sync)
  (add-hook 'kill-emacs-hook (lambda () (code-stats-sync :wait))))

(define-globalized-minor-mode my-global-code-stats-mode code-stats-mode
  (lambda () (code-stats-mode 1)))
(my-global-code-stats-mode)

(after! mu4e
  :defer t
  :config
  (setq mu4e-hide-index-messages nil
        mu4e-update-interval (* 5 60)
        mu4e-org-contacts-file "~/workspace/org/contacts.org"
        mu4e-change-filenames-when-moving t
        mu4e-compose-dont-reply-to-self t
        mu4e-get-mail-command "mbsync -a"
        mu4e-index-cleanup t
        mu4e-index-lazy-check nil
        mu4e-index-cleanup t
        ;; because gmail uses labels as folders we can use lazy check since
        ;; messages don't really "move"
        mu4e-index-lazy-check t
        +mu4e-gmail-accounts '(("{{ .email }}" . "personal")
                               {{ if .workconf }}("{{ .work.workmail }}" . "work"){{ end}})
        mu4e-maildir-shortcuts
        '((:maildir "/personal/archives" :key ?a)
          (:maildir "/personal/inbox"   :key ?i)
          (:maildir "/personal/work"    :key ?w)
          (:maildir "/personal/sent"    :key ?s)))


  (defun benmezger/mu4e-mode-hook ()
    (when (featurep! :completion company)
      (message "Disabling company-mode while in mu4e...")
      (company-mode -1)))
  (add-hook 'mu4e-compose-mode-hook 'benmezger/mu4e-mode-hook)

  (add-to-list 'mu4e-headers-actions
               '("org-contact-add" . mu4e-action-add-org-contact) t)
  (add-to-list 'mu4e-view-actions
               '("org-contact-add" . mu4e-action-add-org-contact) t)


  {{ if eq .chezmoi.os "darwin" -}}
  (setq sendmail-program "/usr/local/bin/msmtp"
        send-mail-function 'smtpmail-send-it
        message-sendmail-f-is-evil t
        message-sendmail-extra-arguments '("--read-envelope-from")
        message-send-mail-function 'message-send-mail-with-sendmail)
  {{ else -}}
  (setq sendmail-program "/usr/bin/msmtp"
        send-mail-function 'smtpmail-send-it
        message-sendmail-f-is-evil t
        message-sendmail-extra-arguments '("--read-envelope-from")
        message-send-mail-function 'message-send-mail-with-sendmail)
  {{- end }}
  (set-email-account! "personal"
                      '((mu4e-sent-folder       . "/personal/sent")
                        (mu4e-drafts-folder     . "/personal/drafts")
                        (mu4e-trash-folder      . "/personal/trash")
                        (mu4e-refile-folder     . "/personal/archives")
                        (user-mail-address      . "{{ .email }}")
                        (smtpmail-smtp-user     . "{{ .email }}")
                        (smtpmail-smtp-server   . "{{ .smtp_host }}")
                        (smtpmail-smtp-service  . {{ .smtp_port }})
                        (mu4e-compose-signature . (with-temp-buffer
                                                    (insert-file-contents "~/.config/neomutt/signature.personal")
                                                    (buffer-string)))))
  {{- if .workconf }}
  (set-email-account! "work"
                      '((mu4e-sent-folder       . "/work/sent")
                        (mu4e-drafts-folder     . "/work/drafts")
                        (mu4e-trash-folder      . "/work/trash")
                        (mu4e-refile-folder     . "/work/archives")
                        (smtpmail-smtp-user     . "{{ .work.workmail }}")
                        (user-mail-address      . "{{ .work.workmail }}")
                        (smtpmail-smtp-server   . "{{ .work.smtp_host }}")
                        (smtpmail-smtp-service  . {{ .work.smtp_port }})
                        (mu4e-compose-signature . "---\n{{ .name }}")))
  {{- end }}

  (when (file-exists-p (concat org-directory "/elisp/mu4e-bookmarks.el"))
    (load (concat org-directory "/elisp/mu4e-bookmarks.el"))))

(after! circe
  :defer t
  :config

  (defun benmezger-fetch-password (&rest params)
    (require 'auth-source)
    (let ((match (car (apply #'auth-source-search params))))
      (if match
          (let ((secret (plist-get match :secret)))
            (if (functionp secret)
                (funcall secret)
              secret))
        (error "Password not found for %S" params))))

  (defun benmezger-nickserv-password (server)
    (benmezger-fetch-password
     :user "seds"
     :host "{{ (index (bitwarden "item" .bitwarden.liberachat).login.uris 0).uri }}"))

  (set-irc-server! "{{ (index (bitwarden "item" .bitwarden.liberachat).login.uris 0).uri }}"
                   '(:tls t
                     :port 6697
                     :nick "seds"
                     :pass benmezger-nickserv-password
                     :channels ("#emacs" "#osdev"))))

(after! org-gcal
  :defer t
  :config
  (setq org-gcal-client-id "{{ (index (bitwarden "item" .bitwarden.googleapi).fields 0).value }}"
        org-gcal-client-secret "{{ (bitwarden "item" .bitwarden.googleapi).login.password }}"
        org-gcal-fetch-file-alist '(("{{ .email }}" . "~/workspace/org/schedule.org"))))

{{ end -}}
