; -*- mode: emacs-lisp;-*-
;;; $DOOMDIR/codestats.el -*- lexical-binding: t; -*-

{{- if or (not .minimal) (and .secrets) }}
(use-package! code-stats
  :defer t
  :config
  (setq code-stats-token
        (auth-source-pick-first-password :host "codestats.net"))
  (add-hook 'prog-mode-hook #'code-stats-mode)
  (run-with-idle-timer 30 t #'code-stats-sync)
  (add-hook 'kill-emacs-hook (lambda () (code-stats-sync :wait))))
{{- end }}
