; -*- mode: emacs-lisp;-*-
;;; $DOOMDIR/wakatime.el -*- lexical-binding: t; -*-

{{ if or (not .minimal) (and .secrets) -}}
(use-package! wakatime-mode
  :init
  (cond ((string-equal system-type "gnu/linux")
         (setq wakatime-cli-path "/usr/bin/wakatime"))
        ((string-equal system-type "darwin")
         (setq wakatime-cli-path "/usr/local/bin/wakatime")))
  :config
  (global-wakatime-mode))
{{ end -}}
