{{ $downloadDir := "" }}
{{ $desktopDir := "" }}

{{- if eq .chezmoi.os "darwin" }}
{{ $downloadDir = "~/Downloads" }}
{{ $desktopDir = "~/Desktop" }}
{{- else }}
{{ $downloadDir = "~/downloads" }}
{{ $desktopDir = "~/desktop" }}
{{- end }}

images_ext: &imgs
    - png
    - jpeg
    - svg
    - jpg

archives_ext: &archives
    - zip
    - gz
    - tar
    - tgz
    - 7z
    - iso
    - tar.xz
    - sig

docs_ext: &docs
    - pdf
    - docx
    - doc
    - md
    - pptx
    - xlsx
    - org
    - bib
    - epub

installers_ext: &installers
    - dmg
    - pkg
    - app
    - apk
    - img

misc: &misc
    - csv
    - json
    - torrent
    - log

code: &code
    - py
    - html
    - js
    - c
    - rs
    - el
    - asm
    - tex
    - sty
    - sh
    - zsh
    - bst
    - cls
    - patch

rules:
  - locations: {{ $downloadDir }}
    filters:
      - extension:
        - *imgs
    actions:
      - move: "{{ $downloadDir }}/images/"

  - locations: {{ $downloadDir }}
    filters:
      - extension:
        - *code
    actions:
      - move: "{{ $downloadDir }}/code/"

  - locations: {{ $downloadDir }}
    filters:
      - extension:
        - *archives
    actions:
      - move: "{{ $downloadDir }}/archives/"

  - locations: {{ $downloadDir }}
    filters:
      - extension:
        - *docs
    actions:
      - move: "{{ $downloadDir }}/docs/"

  - locations: {{ $downloadDir }}
    filters:
      - extension:
        - *installers
    actions:
      - move: "{{ $downloadDir }}/installers/"

  - locations: {{ $downloadDir }}
    filters:
      - extension:
        - *misc
    actions:
      - move: "{{ $downloadDir }}/misc/"

  - locations: {{ $desktopDir }}
    filters:
      - name:
          startswith: "Screen Shot"
    actions:
      - move: "{{ $desktopDir }}/screenshots/"

  - locations: {{ $desktopDir }}
    filters:
      - extension:
        - *docs
    actions:
      - move: "{{ $desktopDir }}/docs/"

  - locations: {{ $desktopDir }}
    filters:
      - extension:
        - *imgs
    actions:
      - move: "{{ $desktopDir }}/images/"

  - locations: ~/.weechat/
    filters:
      - extension: log
    actions:
      - move: "~/irclogs/"

  - locations:
    - path: {{ $desktopDir }}
      exclude_files:
        - ".zsh_plugins.sh"
      filters:
        - extension:
          - *code
    actions:
      - move: "{{ $desktopDir }}/code/"

  - locations: {{ .chezmoi.homedir }}
    filters:
      - extension:
        - *imgs
    actions:
      - move: "{{ .chezmoi.homedir }}/images/"

  - locations: {{ .chezmoi.homedir }}
    filters:
      - extension:
        - *code
    actions:
      - move: "{{ .chezmoi.homedir }}/code/"
