{{ $downloadDir := "" }}
{{ $desktopDir := "" }}

{{- if eq .chezmoi.os "darwin" }}
{{ $downloadDir = "~/Downloads" }}
{{ $desktopDir = "~/Desktop" }}
{{- else }}
{{ $downloadDir = "~/downloads" }}
{{ $desktopDir = "~/desktop" }}
{{- end }}

images_ext: &imgs
    - png
    - jpeg
    - svg
    - jpg

archives_ext: &archives
    - zip
    - gz
    - tar
    - tgz
    - 7z
    - iso

docs_ext: &docs
    - pdf
    - docx
    - doc
    - md
    - pptx
    - xlsx
    - org
    - bib
    - epub

installers_ext: &installers
    - dmg
    - pkg
    - app

misc: &misc
    - csv
    - json
    - torrent
    - log

rules:
  - locations: {{ $downloadDir }}
    filters:
      - extension:
        - *imgs
    actions:
      - move: "{{ $downloadDir }}/images/"

  - locations: {{ $downloadDir }}
    filters:
      - extension:
        - *archives
    actions:
      - move: "{{ $downloadDir }}/archives/"

  - locations: {{ $downloadDir }}
    filters:
      - extension:
        - *docs
    actions:
      - move: "{{ $downloadDir }}/docs/"

  - locations: {{ $downloadDir }}
    filters:
      - extension:
        - *installers
    actions:
      - move: "{{ $downloadDir }}/installers/"

  - locations: {{ $downloadDir }}
    filters:
      - extension:
        - *misc
    actions:
      - move: "{{ $downloadDir }}/misc/"

  - locations: {{ $desktopDir }}
    filters:
      - name:
          startswith: "Screen Shot"
    actions:
      - move: "{{ $desktopDir }}/screenshots/"

  - locations: ~/.weechat/
    filters:
      - extension: log
    actions:
      - move: "~/irclogs/"
