# from local
Host router-local
    User benmezger
    Hostname 192.168.50.1

# from tailscale
Host router-ts
    User benmezger
    Hostname gt-ax11000-pro-58e0

# from local
Host lenin-local
    User seds
    Hostname 192.168.50.2

# from tailscale
Host lenin-ts
    User seds
    Hostname lenin

# from tailscale
Host lenin-initramfs-ts
    HostName 192.168.50.2
    User root
    ProxyJump router-ts

# from local
Host lenin-initramfs-local
    HostName 192.168.50.2
    User root

{{ if .workconf -}}
Host github.com
    Hostname ssh.github.com
    Port 443
    User git
{{- end }}

Host *
    AddKeysToAgent yes
    ForwardAgent yes
    IdentityFile ~/.ssh/id_ed25519
{{- if eq .chezmoi.os "darwin" }}
    UseKeychain yes
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- else }}
    IdentityAgent "~/.1password/agent.sock"
{{- end }}
