# from local
Host router-local
    User benmezger
    Hostname 192.168.50.1

# from tailscale
Host router-ts
    User benmezger
    Hostname 100.120.163.19

# from local
Host lenin-local
    User seds
    Hostname 192.168.50.2

# from tailscale
Host lenin-ts
    User seds
    Hostname 100.74.226.127

# from local
Host x230-local
    User seds
    Hostname x230.local

# from tailscale
Host x230-ts
    User seds
    Hostname 100.108.110.69

# from tailscale
Host lenin-initramfs-ts
    HostName 192.168.50.2
    User root
    ProxyJump router-ts

# from local
Host lenin-initramfs-local
    HostName 192.168.50.2
    User root

# from tailscale
Host macbook-ts
    HostName 100.108.209.97
    User seds

# from local
Host macbook-local
    HostName 192.168.50.4
    User seds

{{ if .workconf -}}
Host github.com
    Hostname ssh.github.com
    Port 443
    User git
{{- end }}

Host *
    AddKeysToAgent yes
    ForwardAgent yes
    IdentityFile ~/.ssh/id_ed25519
{{- if eq .chezmoi.os "darwin" }}
    UseKeychain yes
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- else }}
    IdentityAgent "~/.1password/agent.sock"
{{- end }}
