---
- import_tasks: mas.yml
  when: lookup('env', 'CI') == ''
- import_tasks: defaults.yml
  tags: [osx-defaults]

- name: Copy Tmux launchd daemon
  poll: 0
  async: 45
  command: cp {{ playbook_dir }}/roles/osx/tasks/confs/com.tmux.plist ~/Library/LaunchAgents/

- name: Make launchd start tmux on boot
  poll: 0
  async: 45
  command: launchctl load -w ~/Library/LaunchAgents/com.tmux.plist

- name: Copy syncmail launchd daemon
  poll: 0
  async: 45
  command: cp {{ playbook_dir }}/roles/osx/tasks/confs/com.syncmail.plist ~/Library/LaunchAgents/

- name: Make launchd start sycmail every 5min
  poll: 0
  async: 45
  command: launchctl load -w ~/Library/LaunchAgents/com.syncmail.plist
